*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//https://stackoverflow.com/questions/29511983/is-the-default-font-size-of-every-browser-16px-why

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
